

.about-article {
    text-align: center;
    margin: 30px auto;
}

.about-article h2 {
    margin-bottom: 30px;
}

.about-article p {
    width: 70%;
    margin: 0 auto;
}

.about-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 30px;
    align-items: center;
    justify-content: center;

}

.about-content1 {
    grid-column-start: 1;
    grid-column-end: 3;
}

.about-content2 {
    grid-column-start: 3;
    grid-column-end: 5;
}

.about-content3 {
    grid-column-start: 2;
    grid-column-end: 4;
}