

.contact {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: space-evenly;
    align-items: center;
    gap: 3rem;
    margin: 8rem 0;

}


.c-content1 {
    border: 2px solid var(--orange);
    padding: 4rem 5rem;
    border-radius: 0.7rem;

}

.c-content1 h3 {
    font-size: 1.8rem;
    font-weight: 800;
    margin-bottom: 1.5rem;

}

.c-content1 p {
    margin-bottom: 1.5rem;
}

.c-content1 form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem 2rem;    

}

.c-content1 input {
    width: 100%;
    margin-bottom: 1.4rem;
    border: none;
    background: rgba(19, 19, 24, 0.05);
    padding: 1.5rem 2rem;
    border-radius: 0.8rem;
}

.c-content1 input:last-child {
    background-color: var(--orange);
    color: whitesmoke;
    border-radius: 0.8rem;
}

.c-content2 {
    background-image: url('../assets/saveupto.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    border-radius: 0.8rem;
    position: relative;
}

.c-content2-text {
    position: absolute;
    top: 60%;
    left: 50%;
    background-color: var(--orange);
    color: white;
    padding:2rem 2rem;
    transform: rotate(-19.628deg);
    border-radius: 0.8rem;

}

.c-content2-text p {
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 1rem;
}


.c-content2-text h4 {
    color: #FFF;
    font-family: Mulish;
    font-size: 2rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}


@media only screen and (max-width: 768px) {
    .contact {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
        
    }
    .c-content2-text {
        position: absolute;
        top: 60%;
        left: 20%;
    }
    
}