
@media only screen and (max-width: 768px) {
    .navigation {
        flex-direction: column;
        gap: 40px;
        align-items: center;
    }
    .navbar nav ul {
        flex-direction: column;
        margin-bottom: 30px;
        align-items: center;
    }
    .selection {
        grid-template-columns: repeat(1, 1fr);
    }
    .popular-tour {
        grid-template-columns: repeat(1, 1fr);
    }

}

@media only screen and (min-width: 768px) and (max-width: 920px) {
    .navigation {
        flex-direction: column;
        gap: 40px;
        align-items: center;
    }
    .navbar nav ul {
        flex-direction: column;
        margin-bottom: 30px;
        align-items: center;
    }
    .selection {
        grid-template-columns: repeat(1, 1fr);
    }
}
