

.popular-tour {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-evenly;
    align-items: center;
    gap: 25px;
}

.popular-text {
    padding: 25px;
}

.popular-image {
    padding: 25px;
}

.popular-text h2 {
    margin-bottom: 2rem;
    text-align: left;
}

.popular-text p {
    margin-bottom: 20px;
    line-height: 3rem;
}

.popular-text ul li {
    margin-left: 20px;
    line-height: 3rem;
}

.popular-text ul {
    margin-bottom: 20px;
}

.popular-image img {
    width: 100%;
    height: auto;
}


/* Media Query for Small Device */

@media only screen and (max-width: 768px) {
    .popular-tour {
        grid-template-columns: repeat(1, 1fr);
        margin-bottom: 4rem;
    }
    .popular-image {
        margin-top: -7rem;
    }
    .popular-text h2 {
        margin-bottom: 2rem;
        font-size: 3rem;
    }
    
    .popular-text {
        width: 90%;
    }
}